<!DOCTYPE html>
<html lang="en">
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <ul><a>Home</a></ul>
    <ul><a>About Me</a></ul>
</nav>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <style>
        placeholder  {
             text-align:center;


        }



    </style>

    <title>Submit the data</title>


 <div class="container">
     <hr>
    <div class="jumbotron">
<h3>This Artificial Intelligence Model  Is Capable Of Telling The Survival Rate of The  COVID-19 Patient With 99.98% Accuracy......  </h3>
</div></div>

   <form enctype="multipart/form-data" method="post" >
       <div class="container"><div class="jumbotron">
     <div class="container">
               <h6>Please Submit the Following Data of The Patient......Everything is Compulsory for the model to work:</h6>

           <!--<input type="file" name="myfile">-->
            <input type="number" name="case" placeholder="No.Of Cases" size="10">
       <input type="text" name="location" placeholder="Location">
       <input type="text" placeholder="Gender" name="gender" >
       <input type="number" placeholder="Age" name="age">







        <input type="text" name="country" placeholder="Country"></div><br>
   <div class="container">
    <h6>Enter The Date When The Patient Reported The Disease:</h6>
        <input type="number" name="day_reporting" placeholder="DD" size="2" align="right">

        <input type="number" name="month_reporting" size="4" placeholder="MM">
       <input type="number" name="year_reporting" placeholder="YYYY">
    </div><br>
       <!--<h4>The Gender of the Patient : Male,Female,GenderLess </h4>-->

<div class="container">
    <h6>Enter The Date When The Symptoms Were First Seen On The Patient:</h6>
           <input type="number" placeholder="DD" name="day_symptom">

       <input type="number" placeholder="MM" name="month_symptom">
       <input type="number" placeholder="YYYY" name="year_symptom"><br><br>

       <input type="number" placeholder="set_approximation" name="set_approximation" ></div>
       <div class="container">
       <h6>Enter The Date When The Patient Showed Up For The Hospital:</h6>
                  <input type="number" placeholder="DD" name="day_hospital">
       <input type="number" placeholder="MM" name="month_hospital">
       <input type="number" placeholder="YYYY" name="year_hospital">
</div><br>

       <div class="container">
           <h6>Enter The Date When The Exposure Started:</h6>
       <input type="number" placeholder="DD" name="day_exp_start">
       <input type="number" placeholder="MM" name="month_exp_start">
       <input type="number" placeholder="YYYY" name="year_exp_start"></div><br>

        <div class="container">
            <h6>Enter The Date When The Exposure Ended:</h6>
       <input type="number" placeholder="DD" name="day_exp_end">
       <input type="number" placeholder="MM" name="month_exp_end">
       <input type="number" placeholder="YYYY" name="year_exp_end"></div><br>
       <div class="container">
           <h6>In All The Below Attributes Enter 0 for No and 1 for Yes:</h6>
       <input type="number" placeholder="Visited_Wuhan " name="visited_wuhan">
       <input type="number" placeholder="From_Wuhan " name="from_wuhan">
       <input type="number" placeholder="Recovered " name="recovered">
           <hr>

<br>
        <button type="submit" class="btn btn-primary">Predict</button>




    {% csrf_token %}








       </div>













































</div></div>
     </form>
    <div class="container">
        <div class="jumbotron">
               <h6> {{result}} {{probability}}</h6>

        </div>
    </div>






       <!--<button type="button"><a href="{% url 'corona:tp' %}">Submit</a> </button>-->




</head>



<body>




</body>
</html>